In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
data = pd.read_csv('listings.csv.gz')

FileNotFoundError: [Errno 2] No such file or directory: 'listings.csv.gz'

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3693 entries, 0 to 3692
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3693 non-null   int64
 1   listing_url                                   3693 non-null   object
 2   scrape_id                                     3693 non-null   int64
 3   last_scraped                                  3693 non-null   object
 4   source                                        3693 non-null   object
 5   name                                          3693 non-null   object
 6   description                                   3622 non-null   object
 7   neighborhood_overview                         1720 non-null   object
 8   picture_url                                   3693 non-null   object
 9   host_id                                       3693 non-null   int64
 10  host_url                                      3693 non-null   object
 11  host_name                                     3693 non-null   object
 12  host_since                                    3693 non-null   object
 13  host_location                                 2178 non-null   object
 14  host_about                                    2319 non-null   object
 15  host_response_time                            2837 non-null   object
 16  host_response_rate                            2837 non-null   object
 17  host_acceptance_rate                          2778 non-null   object
 18  host_is_superhost                             3658 non-null   object
 19  host_thumbnail_url                            3693 non-null   object
 20  host_picture_url                              3693 non-null   object
 21  host_neighbourhood                            3500 non-null   object
 22  host_listings_count                           3693 non-null   int64
 23  host_total_listings_count                     3693 non-null   int64
 24  host_verifications                            3693 non-null   object
 25  host_has_profile_pic                          3693 non-null   object
 26  host_identity_verified                        3693 non-null   object
 27  neighbourhood                                 1720 non-null   object
 28  neighbourhood_cleansed                        3693 non-null   object
 29  neighbourhood_group_cleansed                  3693 non-null   object
 30  latitude                                      3693 non-null   float64
 31  longitude                                     3693 non-null   float64
 32  property_type                                 3693 non-null   object
 33  room_type                                     3693 non-null   object
 34  accommodates                                  3693 non-null   int64
 35  bathrooms                                     2841 non-null   float64
 36  bathrooms_text                                3683 non-null   object
 37  bedrooms                                      3381 non-null   float64
 38  beds                                          2805 non-null   float64
 39  amenities                                     3693 non-null   object
 40  price                                         2643 non-null   object
 41  minimum_nights                                3693 non-null   int64
 42  maximum_nights                                3693 non-null   int64
 43  minimum_minimum_nights                        3692 non-null   float64
 44  maximum_minimum_nights                        3692 non-null   float64
 45  minimum_maximum_nights                        3692 non-null   float64
 46  maximum_maximum_nights                        3692 non-null   float64
 47  minimum_nights_avg_ntm                        3693 non-null   float64
 48  maximum_nights_avg_ntm                        3693 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3415 non-null   object
 51  availability_30                               3693 non-null   int64
 52  availability_60                               3693 non-null   int64
 53  availability_90                               3693 non-null   int64
 54  availability_365                              3693 non-null   int64
 55  calendar_last_scraped                         3693 non-null   object
 56  number_of_reviews                             3693 non-null   int64
 57  number_of_reviews_ltm                         3693 non-null   int64
 58  number_of_reviews_l30d                        3693 non-null   int64
 59  availability_eoy                              3693 non-null   int64
 60  number_of_reviews_ly                          3693 non-null   int64
 61  estimated_occupancy_l365d                     3693 non-null   int64
 62  estimated_revenue_l365d                       2643 non-null   float64
 63  first_review                                  1847 non-null   object
 64  last_review                                   1847 non-null   object
 65  review_scores_rating                          1847 non-null   float64
 66  review_scores_accuracy                        1847 non-null   float64
 67  review_scores_cleanliness                     1847 non-null   float64
 68  review_scores_checkin                         1847 non-null   float64
 69  review_scores_communication                   1847 non-null   float64
 70  review_scores_location                        1846 non-null   float64
 71  review_scores_value                           1846 non-null   float64
 72  license                                       2084 non-null   object
 73  instant_bookable                              3693 non-null   object
 74  calculated_host_listings_count                3693 non-null   int64
 75  calculated_host_listings_count_entire_homes   3693 non-null   int64
 76  calculated_host_listings_count_private_rooms  3693 non-null   int64
 77  calculated_host_listings_count_shared_rooms   3693 non-null   int64
 78  reviews_per_month                             1847 non-null   float64
dtypes: float64(21), int64(22), object(36)
memory usage: 2.2+ MB

In [ ]:
pd.set_option('display.max_columns', None)
data.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,71609,https://www.airbnb.com/rooms/71609,20250928035118,2025-09-28,previous scrape,Ensuite Room (Room 1 & 2) near EXPO,For 3 rooms.Book room 1&2 and room 4,NaN,https://a0.muscache.com/pictures/24453191/3580...,367042,https://www.airbnb.com/users/show/367042,Belinda,2011-01-29,Singapore,Hi My name is Belinda -Housekeeper \n\nI would...,within a few hours,100%,100%,f,https://a0.muscache.com/im/users/367042/profil...,https://a0.muscache.com/im/users/367042/profil...,Tampines,5,10,"['email', 'phone']",t,t,NaN,Tampines,East Region,1.34537,103.95887,Private room in villa,Private room,2,NaN,1 private bath,2.0,NaN,"[""Outdoor kitchen"", ""Refrigerator"", ""Fire pit""...",NaN,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,NaN,t,30,60,90,90,2025-09-28,19,0,0,90,0,0,NaN,2011-12-19,2020-01-17,4.44,4.37,4.00,4.63,4.78,4.26,4.32,NaN,f,5,0,5,0,0.11
1,71896,https://www.airbnb.com/rooms/71896,20250928035118,2025-09-28,city scrape,B&B Room 1 near Airport & EXPO,NaN,NaN,https://a0.muscache.com/pictures/2440674/ac4f4...,367042,https://www.airbnb.com/users/show/367042,Belinda,2011-01-29,Singapore,Hi My name is Belinda -Housekeeper \n\nI would...,within a few hours,100%,100%,f,https://a0.muscache.com/im/users/367042/profil...,https://a0.muscache.com/im/users/367042/profil...,Tampines,5,10,"['email', 'phone']",t,t,NaN,Tampines,East Region,1.34754,103.95958,Private room in home,Private room,1,0.5,Shared half-bath,1.0,1.0,"[""Outdoor kitchen"", ""Dishes and silverware"", ""...",$104.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,NaN,t,30,60,90,90,2025-09-28,24,0,0,90,0,0,0.0,2011-07-30,2019-10-13,4.16,4.22,4.09,4.43,4.43,4.17,4.04,NaN,f,5,0,5,0,0.14
2,71903,https://www.airbnb.com/rooms/71903,20250928035118,2025-09-28,city scrape,Room 2-near Airport & EXPO,"Like your own home, 24hrs access.",Quiet and view of the playground with exercise...,https://a0.muscache.com/pictures/568743/7bc623...,367042,https://www.airbnb.com/users/show/367042,Belinda,2011-01-29,Singapore,Hi My name is Belinda -Housekeeper \n\nI would...,within a few hours,100%,100%,f,https://a0.muscache.com/im/users/367042/profil...,https://a0.muscache.com/im/users/367042/profil...,Tampines,5,10,"['email', 'phone']",t,t,"Singapore, Singapore",Tampines,East Region,1.34531,103.96100,Private room in home,Private room,2,0.5,Shared half-bath,1.0,2.0,"[""Outdoor kitchen"", ""Fire pit"", ""Hair dryer"", ...",$76.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,NaN,t,30,60,90,90,2025-09-28,46,0,0,90,0,0,0.0,2011-05-04,2020-01-09,4.41,4.39,4.52,4.63,4.64,4.50,4.36,NaN,f,5,0,5,0,0.26
3,275343,https://www.airbnb.com/rooms/275343,20250928035118,2025-09-28,previous scrape,10min walk to MRT & a Cozy Room with window! (1),**IMPORTANT NOTES: READ BEFORE YOU BOOK! <br ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,1439258,https://www.airbnb.com/users/show/1439258,Kay,2011-11-24,Singapore,K2 Guesthouse is designed for guests who want ...,within an hour,100%,99%,f,https://a0.muscache.com/im/pictures/user/7245b...,https://a0.muscache.com/im/pictures/user/7245b...,Bukit Merah,50,88,"['email', 'phone']",t,t,NaN,Bukit Merah,Central Region,1.29015,103.80814,Private room in rental unit,Private room,1,NaN,2 shared baths,NaN,NaN,"[""Paid dryer \u2013 In building"", ""Dishes and ...",NaN,180,999,180.0,180.0,1125.0,1125.0,180.0,1125.0,NaN,t,0,0,0,0,2025-09-28,20,0,0,0,0,0,NaN,2013-04-20,2022-08-13,4.40,4.16,4.26,4.47,4.42,4.53,4.63,S0399,t,49,0,49,0,0.13
4,275344,https://www.airbnb.com/rooms/275344,20250928035118,2025-09-28,previous scrape,15 mins to Outram MRT Single Room (2),Lovely home for the special guest !,Bus stop <br />Food center <br />Supermarket,https://a0.muscache.com/pictures/miso/Hosting-...,1439258,https://www.airbnb.com/users/show/1439258,Kay,2011-11-24,Singapore,K2 Guesthouse is designed for guests who want ...,within an hour,100%,99%,f,https://a0.muscache.com/im/pictures/user/7245b...,https://a0.muscache.com/im/pictures/user/7245b...,Bukit Merah,50,88,"['email', 'phone']",t,t,"Singapore, Singapore",Bukit Merah,Central Region,1.28836,103.81144,Private room in rental unit,Private room,1,NaN,2.5 shared baths,NaN,NaN,"[""Paid dryer \u2013 In building"", ""Dishes and ...",NaN,180,999,180.0,180.0,1125.0,1125.0,180.0,1125.0,NaN,t,0,0,0,0,2025-09-28,16,0,0,0,0,0,NaN,2012-04-26,2023-08-16,4.27,4.44,4.06,4.50,4.50,4.63,4.13,S0399,t,49,0,49,0,0.10

In [ ]:
del data['calendar_updated']
del data['neighbourhood']
del data['neighborhood_overview']
del data['host_location']
del data['host_about']
del data['host_neighbourhood']
del data['host_name']
del data['listing_url']
del data['scrape_id']
del data['last_scraped']
del data['name']
del data['source']
del data['description']
del data['picture_url']
del data['host_url']
del data['host_thumbnail_url']
del data['host_since']
del data['host_picture_url']
del data['host_listings_count']
del data['host_verifications']
del data['number_of_reviews_l30d']
del data['number_of_reviews_ltm']
del data['number_of_reviews_ly']
del data['has_availability']
del data['availability_30']
del data['availability_60']
del data['availability_90']
del data['calculated_host_listings_count_entire_homes']
del data['calculated_host_listings_count_private_rooms']
del data['calculated_host_listings_count_shared_rooms']
del data['license']
del data['estimated_revenue_l365d']
del data['review_scores_accuracy']
del data['review_scores_cleanliness']
del data['review_scores_checkin']
del data['review_scores_value']
del data['reviews_per_month']
del data['first_review']
del data['last_review']
del data ['calendar_last_scraped']

In [ ]:
data.dropna(subset = ['price'], inplace = True)
data.dropna(subset = ['host_is_superhost'], inplace = True)
data.dropna(subset=['minimum_minimum_nights'], inplace=True)
data.dropna(subset=['maximum_minimum_nights'], inplace=True)
data.dropna(subset=['minimum_maximum_nights'], inplace=True)
data.dropna(subset=['maximum_maximum_nights'], inplace=True)
data.dropna(subset=['bathrooms_text'], inplace=True)
pd.set_option('display.max_rows', None)
data.isnull().sum()

id                                   0
host_id                              0
host_response_time                 362
host_response_rate                 362
host_acceptance_rate               443
host_is_superhost                    0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
neighbourhood_group_cleansed         0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bathrooms_text                       0
bedrooms                            11
beds                                22
amenities                            0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
estimated_occupancy_l365d            0
review_scores_rating              1275
review_scores_communication       1275
review_scores_location            1276
instant_bookable                     0
calculated_host_listings_count       0
dtype: int64

In [ ]:
pd.set_option('display.max_columns', None)
data.head(15)

,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,number_of_reviews,availability_eoy,estimated_occupancy_l365d,review_scores_rating,review_scores_communication,review_scores_location,instant_bookable,calculated_host_listings_count
1,71896,367042,within a few hours,100%,100%,f,10,t,t,Tampines,East Region,1.34754,103.95958,Private room in home,Private room,1,0.5,Shared half-bath,1.0,1.0,"[""Outdoor kitchen"", ""Dishes and silverware"", ""...",$104.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,24,90,0,4.16,4.43,4.17,f,5
2,71903,367042,within a few hours,100%,100%,f,10,t,t,Tampines,East Region,1.34531,103.96100,Private room in home,Private room,2,0.5,Shared half-bath,1.0,2.0,"[""Outdoor kitchen"", ""Fire pit"", ""Hair dryer"", ...",$76.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,46,90,0,4.41,4.64,4.50,f,5
5,294281,1521514,within a few hours,100%,100%,f,8,t,t,Newton,Central Region,1.31142,103.83924,Private room in rental unit,Private room,2,1.0,1 shared bath,2.0,1.0,"[""Oven"", ""Private patio or balcony"", ""Dishes a...",$85.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,131,95,0,4.43,4.66,4.52,f,7
8,344803,367042,within a few hours,100%,100%,f,10,t,t,Tampines,East Region,1.34917,103.96090,Private room in home,Private room,1,1.5,1.5 shared baths,1.0,1.0,"[""Tecno gas stove"", ""Oven"", ""Outdoor kitchen"",...",$41.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,286,60,16,0,4.60,4.58,4.66,t,5
9,369141,1521514,within a few hours,100%,100%,f,8,t,t,Newton,Central Region,1.31144,103.83784,Private room,Private room,2,1.0,1 bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$101.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,81,95,0,4.43,4.76,4.64,f,7
10,369145,1521514,within a few hours,100%,100%,f,8,t,t,Newton,Central Region,1.31129,103.83788,Private room in townhouse,Private room,2,1.0,1 shared bath,2.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Hai...",$91.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,163,95,0,4.39,4.67,4.60,f,7
12,468782,2327208,NaN,NaN,100%,f,4,t,t,Serangoon,North-East Region,1.36288,103.86575,Private room in home,Private room,2,1.5,1.5 baths,1.0,0.0,"[""Dryer"", ""Essentials"", ""Dishes and silverware...",$53.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,83,95,184,4.70,4.88,4.57,f,1
18,747813,3926646,a few days or more,0%,NaN,f,7,t,t,Downtown Core,Central Region,1.27663,103.84498,Private room in condo,Private room,4,1.0,1 shared bath,1.0,1.0,"[""First aid kit"", ""Hair dryer"", ""Private entra...",$127.00,92,1123,92.0,92.0,1123.0,1123.0,92.0,1123.0,358,68,88,0,4.63,4.82,4.91,t,4
19,747816,3926646,a few days or more,0%,NaN,f,7,t,t,Downtown Core,Central Region,1.27585,103.84597,Private room in condo,Private room,4,1.0,1 shared bath,1.0,1.0,"[""Refrigerator"", ""Hair dryer"", ""Private entran...",$127.00,92,1124,92.0,92.0,1124.0,1124.0,92.0,1124.0,365,25,95,0,4.56,4.88,4.96,t,4
21,765579,2413412,within a few hours,89%,67%,f,182,t,t,Outram,Central Region,1.28410,103.84253,Private room in rental unit,Private room,1,2.0,2 shared baths,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Coo...",$47.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,2,92,0,4.00,4.50,4.00,t,91
22,815685,1439258,within an hour,100%,99%,f,88,t,t,Bukit Merah,Central Region,1.29065,103.80941,Private room in rental unit,Private room,1,2.0,2 shared baths,1.0,1.0,"[""Paid washer \u2013 In unit"", ""Paid dryer \u2...",$67.00,180,999,180.0,180.0,1125.0,1125.0,180.0,1125.0,0,16,0,0,4.13,4.44,4.25,t,49
26,833289,4360831,NaN,NaN,NaN,f,3,t,t,Bukit Merah,Central Region,1.27716,103.82299,Private room in condo,Private room,2,1.0,1 private bath,1.0,2.0,"[""Host greets you""]",$172.00,730,1125,730.0,730.0,1125.0,1125.0,730.0,1125.0,365,2,95,0,5.00,5.00,5.00,f,1
28,881253,2413412,within a few hours,89%,67%,f,182,t,t,Outram,Central Region,1.28485,103.84317,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$76.00,92,1124,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,3,92,0,4.00,4.67,4.67,t,91
29,904378,4837194,within a day,100%,0%,f,2,t,t,River Valley,Central Region,1.30046,103.82786,Entire condo,Entire home/apt,2,1.0,1 bath,1.0,1.0,"[""Host greets you"", ""Sun loungers"", ""Private p...",$222.00,92,120,92.0,92.0,120.0,120.0,92.0,120.0,347,34,77,0,4.71,4.94,4.76,f,1
30,962594,2413412,within a few hours,89%,67%,f,182,t,t,Kallang,Central Region,1.30663,103.86243,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$82.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,362,2,92,0,5.00,5.00,5.00,t,91

In [ ]:
pd.set_option('display.max_rows', None)
data.isnull().sum()

id                                   0
host_id                              0
host_response_time                 362
host_response_rate                 362
host_acceptance_rate               443
host_is_superhost                    0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
neighbourhood_group_cleansed         0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bathrooms_text                       0
bedrooms                            11
beds                                22
amenities                            0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
estimated_occupancy_l365d            0
review_scores_rating              1275
review_scores_communication       1275
review_scores_location            1276
instant_bookable                     0
calculated_host_listings_count       0
dtype: int64

In [ ]:
data['host_is_superhost'] = data['host_is_superhost'].replace('f', False)
data['host_is_superhost'] = data['host_is_superhost'].replace('t', True)
data['instant_bookable'] = data['instant_bookable'].replace('f', False)
data['instant_bookable'] = data['instant_bookable'].replace('t', True)
data['host_has_profile_pic'] = data['host_has_profile_pic'].replace('f', False)
data['host_has_profile_pic'] = data['host_has_profile_pic'].replace('t', True)
data['host_identity_verified'] = data['host_identity_verified'].replace('f', False)
data['host_identity_verified'] = data['host_identity_verified'].replace('t', True)

/tmp/ipython-input-1122587506.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['host_is_superhost'] = data['host_is_superhost'].replace('t', True)
/tmp/ipython-input-1122587506.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['instant_bookable'] = data['instant_bookable'].replace('t', True)
/tmp/ipython-input-1122587506.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['host_has_profile_pic'] = data['host_has_profile_pic'].replace('t', True)
/tmp/ipython-input-1122587506.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['host_identity_verified'] = data['host_identity_verified'].replace('t', True)

In [ ]:
pd.set_option('display.max_columns', None)
display(data.head(50))

,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,number_of_reviews,availability_eoy,estimated_occupancy_l365d,review_scores_rating,review_scores_communication,review_scores_location,instant_bookable,calculated_host_listings_count
1,71896,367042,within a few hours,100%,100%,False,10,True,True,Tampines,East Region,1.347540,103.959580,Private room in home,Private room,1,0.5,Shared half-bath,1.0,1.0,"[""Outdoor kitchen"", ""Dishes and silverware"", ""...",$104.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,24,90,0,4.16,4.43,4.17,False,5
2,71903,367042,within a few hours,100%,100%,False,10,True,True,Tampines,East Region,1.345310,103.961000,Private room in home,Private room,2,0.5,Shared half-bath,1.0,2.0,"[""Outdoor kitchen"", ""Fire pit"", ""Hair dryer"", ...",$76.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,46,90,0,4.41,4.64,4.50,False,5
5,294281,1521514,within a few hours,100%,100%,False,8,True,True,Newton,Central Region,1.311420,103.839240,Private room in rental unit,Private room,2,1.0,1 shared bath,2.0,1.0,"[""Oven"", ""Private patio or balcony"", ""Dishes a...",$85.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,131,95,0,4.43,4.66,4.52,False,7
8,344803,367042,within a few hours,100%,100%,False,10,True,True,Tampines,East Region,1.349170,103.960900,Private room in home,Private room,1,1.5,1.5 shared baths,1.0,1.0,"[""Tecno gas stove"", ""Oven"", ""Outdoor kitchen"",...",$41.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,286,60,16,0,4.60,4.58,4.66,True,5
9,369141,1521514,within a few hours,100%,100%,False,8,True,True,Newton,Central Region,1.311440,103.837840,Private room,Private room,2,1.0,1 bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$101.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,81,95,0,4.43,4.76,4.64,False,7
10,369145,1521514,within a few hours,100%,100%,False,8,True,True,Newton,Central Region,1.311290,103.837880,Private room in townhouse,Private room,2,1.0,1 shared bath,2.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Hai...",$91.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,163,95,0,4.39,4.67,4.60,False,7
12,468782,2327208,NaN,NaN,100%,False,4,True,True,Serangoon,North-East Region,1.362880,103.865750,Private room in home,Private room,2,1.5,1.5 baths,1.0,0.0,"[""Dryer"", ""Essentials"", ""Dishes and silverware...",$53.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,83,95,184,4.70,4.88,4.57,False,1
18,747813,3926646,a few days or more,0%,NaN,False,7,True,True,Downtown Core,Central Region,1.276630,103.844980,Private room in condo,Private room,4,1.0,1 shared bath,1.0,1.0,"[""First aid kit"", ""Hair dryer"", ""Private entra...",$127.00,92,1123,92.0,92.0,1123.0,1123.0,92.0,1123.0,358,68,88,0,4.63,4.82,4.91,True,4
19,747816,3926646,a few days or more,0%,NaN,False,7,True,True,Downtown Core,Central Region,1.275850,103.845970,Private room in condo,Private room,4,1.0,1 shared bath,1.0,1.0,"[""Refrigerator"", ""Hair dryer"", ""Private entran...",$127.00,92,1124,92.0,92.0,1124.0,1124.0,92.0,1124.0,365,25,95,0,4.56,4.88,4.96,True,4
21,765579,2413412,within a few hours,89%,67%,False,182,True,True,Outram,Central Region,1.284100,103.842530,Private room in rental unit,Private room,1,2.0,2 shared baths,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Coo...",$47.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,2,92,0,4.00,4.50,4.00,True,91
22,815685,1439258,within an hour,100%,99%,False,88,True,True,Bukit Merah,Central Region,1.290650,103.809410,Private room in rental unit,Private room,1,2.0,2 shared baths,1.0,1.0,"[""Paid washer \u2013 In unit"", ""Paid dryer \u2...",$67.00,180,999,180.0,180.0,1125.0,1125.0,180.0,1125.0,0,16,0,0,4.13,4.44,4.25,True,49
26,833289,4360831,NaN,NaN,NaN,False,3,True,True,Bukit Merah,Central Region,1.277160,103.822990,Private room in condo,Private room,2,1.0,1 private bath,1.0,2.0,"[""Host greets you""]",$172.00,730,1125,730.0,730.0,1125.0,1125.0,730.0,1125.0,365,2,95,0,5.00,5.00,5.00,False,1
28,881253,2413412,within a few hours,89%,67%,False,182,True,True,Outram,Central Region,1.284850,103.843170,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$76.00,92,1124,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,3,92,0,4.00,4.67,4.67,True,91
29,904378,4837194,within a day,100%,0%,False,2,True,True,River Valley,Central Region,1.300460,103.827860,Entire condo,Entire home/apt,2,1.0,1 bath,1.0,1.0,"[""Host greets you"", ""Sun loungers"", ""Private p...",$222.00,92,120,92.0,92.0,120.0,120.0,92.0,120.0,347,34,77,0,4.71,4.94,4.76,False,1
30,962594,2413412,within a few hours,89%,67%,False,182,True,True,Kallang,Central Region,1.306630,103.862430,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$82.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,362,2,92,0,5.00,5.00,5.00,True,91
31,982909,4723385,NaN,NaN,0%,False,1,True,True,Novena,Central Region,1.333890,103.834540,Private room in condo,Private room,1,1.0,1 private bath,1.0,1.0,"[""Host greets you"", ""Oven"", ""Private patio or ...",$85.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,268,247,93,0,4.87,4.92,4.78,False,1
34,1242205,3589987,NaN,NaN,NaN,False,5,True,True,Marine Parade,Central Region,1.309070,103.901800,Entire townhouse,Entire home/apt,6,4.5,4.5 baths,3.0,3.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$549.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,270,8,95,0,4.75,4.88,4.63,False,1
35,1261443,2413412,within a few hours,89%,67%,False,182,True,True,Outram,Central Region,1.284580,103.843110,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$76.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,2,92,0,5.00,5.00,5.00,True,91
36,1363204,2413412,within a few hours,89%,67%,False,182,True,True,Outram,Central Region,1.283860,103.842380,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$66.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,3,92,0,4.00,4.67,5.00,True,91
37,1495386,7993224,a few days or more,0%,NaN,False,2,True,True,Pasir Ris,East Region,1.379750,103.943750,Private room in earthen home,Private room,2,1.0,1 bath,1.0,1.0,"[""Private patio or balcony"", ""Dishes and silve...",$58.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,10,95,0,4.70,5.00,4.30,False,1
38,1508829,2413412,within a few hours,89%,67%,False,182,True,True,Kallang,Central Region,1.307200,103.863590,Private room in rental unit,Private room,1,3.0,3 shared baths,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Coo...",$57.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,362,7,92,0,4.14,4.57,4.83,True,91
40,1581224,8408341,NaN,NaN,NaN,False,2,True,True,Kallang,Central Region,1.311080,103.873740,Entire townhouse,Entire home/apt,8,4.0,4 baths,4.0,1.0,"[""Luggage dropoff allowed"", ""Garden view"", ""Lo...",$135.00,96,100,96.0,96.0,1125.0,1125.0,96.0,1125.0,365,0,95,0,NaN,NaN,NaN,False,1
42,1615074,2413412,within a few hours,89%,67%,False,182,True,True,Outram,Central Region,1.284100,103.842530,Private room in rental unit,Private room,1,1.5,1.5 baths,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$61.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,5,92,0,4.40,5.00,4.80,True,91
46,1710048,8948251,within a day,60%,100%,False,126,True,True,Outram,Central Region,1.284660,103.842550,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Coo...",$66.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,0,92,0,NaN,NaN,NaN,True,73
47,1719704,2413412,within a few hours,89%,67%,False,182,True,True,Outram,Central Region,1.284100,103.842530,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$66.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,3,92,0,4.00,4.67,4.67,True,91
50,1928296,5092893,NaN,NaN,NaN,False,8,True,True,Ang Mo Kio,North-East Region,1.372910,103.829780,Private room in home,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Cooking basics"", ""Hair dryer"", ""Free parking...",$212.00,100,1125,100.0,100.0,1125.0,1125.0,100.0,1125.0,365,79,95,0,4.57,4.66,4.35,True,3
51,1941719,3926646,a few days or more,0%,NaN,False,7,True,True,Downtown Core,Central Region,1.275250,103.845240,Private room in condo,Private room,4,1.0,1 shared bath,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Fir...",$153.00,92,1123,92.0,92.0,1123.0,1123.0,92.0,1123.0,358,73,88,0,4.51,4.67,4.85,True,4
53,2129215,7642747,within a few hours,100%,NaN,False,5,True,True,Bedok,East Region,1.319360,103.916630,Entire townhouse,Entire home/apt,5,1.0,1 bath,1.0,3.0,"[""Dishes and silverware"", ""Refrigerator"", ""Fir...",$255.00,92,700,92.0,92.0,700.0,700.0,92.0,700.0,362,369,92,0,4.93,4.95,4.80,False,1
54,2142826,9900768,NaN,NaN,NaN,False,5,True,True,Novena,Central Region,1.324850,103.851430,Private room in rental unit,Private room,2,2.0,2 baths,1.0,1.0,"[""Essentials"", ""Air conditioning"", ""First aid ...",$929.00,160,160,160.0,160.0,160.0,160.0,160.0,160.0,179,21,94,0,4.67,4.70,4.40,False,1
55,2156372,6157422,within a few hours,100%,100%,False,2,True,True,Hougang,North-East Region,1.367220,103.897650,Private room in condo,Private room,1,1.5,1.5 shared baths,1.0,1.0,"[""Oven"", ""Piano"", ""Shared gym nearby"", ""Dishes...",$65.00,92,730,92.0,92.0,730.0,730.0,92.0,730.0,364,17,94,184,4.76,4.88,4.06,False,2
58,2547778,8948251,within a day,60%,100%,False,126,True,True,Kallang,Central Region,1.311170,103.862140,Private room in rental unit,Private room,1,3.0,3 shared baths,1.0,1.0,"[""Refrigerator"", ""Cooking basics"", ""Single lev...",$47.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,1,92,0,4.00,5.00,5.00,True,73
59,2922184,1439258,within an hour,100%,99%,False,88,True,True,Queenstown,Central Region,1.280500,103.784390,Room in aparthotel,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Oven"", ""Paid dryer \u2013 In building"", ""Dis...",$50.00,90,999,90.0,90.0,1125.0,1125.0,90.0,1125.0,146,18,0,0,4.28,4.39,4.28,False,49
60,3034137,4422603,NaN,NaN,NaN,False,3,True,True,Hougang,North-East Region,1.359560,103.884230,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Host greets you"", ""Long term stays allowed"",...",$93.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,9,92,0,4.89,5.00,5.00,False,1
61,3304326,16689958,NaN,NaN,NaN,False,1,True,True,Tampines,East Region,1.349720,103.962010,Private room in condo,Private room,1,1.0,1 private bath,1.0,1.0,"[""Host greets you"", ""First aid kit"", ""Free par...",$85.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,8,92,0,4.75,4.88,4.88,True,1
63,3382337,9827707,NaN,NaN,NaN,False,1,True,True,Serangoon,North-East Region,1.344171,103.872002,Entire rental unit,Entire home/apt,6,1.0,1 bath,1.0,1.0,"[""Dedicated workspace"", ""Air conditioning"", ""T...",$159.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,173,0,88,0,NaN,NaN,NaN,False,1
64,3667894,2413412,within a few hours,89%,67%,False,182,True,True,Outram,Central Region,1.284240,103.842750,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Coo...",$66.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,2,92,0,4.00,4.50,5.00,True,91
74,4211375,12318187,within a day,50%,NaN,False,20,True,True,Jurong West,West Region,1.341130,103.705520,Private room in rental unit,Private room,2,1.0,1 shared bath,1.0,1.0,"[""Gym"", ""Essentials"", ""Air conditioning"", ""Poo...",$95.00,92,730,92.0,92.0,730.0,730.0,92.0,730.0,290,0,20,0,NaN,NaN,NaN,False,2
75,4271250,22176293,within an hour,100%,90%,True,5,True,True,Tanglin,Central Region,1.295650,103.828670,Entire rental unit,Entire home/apt,3,1.0,1 bath,1.0,1.0,"[""Dishes and silverware"", ""Freezer"", ""Refriger...",$142.00,92,730,92.0,92.0,730.0,730.0,92.0,730.0,197,170,22,184,4.94,4.98,4.82,False,1
76,4441346,23053315,NaN,NaN,NaN,False,1,True,True,Kallang,Central Region,1.299970,103.885360,Entire loft,Entire home/apt,3,1.5,1.5 baths,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$124.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,89,4,0,0,5.00,5.00,4.00,True,1
78,4499317,23336011,within an hour,100%,98%,True,77,True,True,Downtown Core,Central Region,1.294890,103.854010,Room in aparthotel,Entire home/apt,2,1.0,1 bath,0.0,1.0,"[""Free washer \u2013 In building"", ""Dishes and...",$326.00,1,365,1.0,3.0,89.0,89.0,2.9,89.0,356,284,86,132,4.82,4.88,4.93,False,77
81,4619928,8948251,within a day,60%,100%,False,126,True,True,Geylang,Central Region,1.315630,103.882850,Private room in rental unit,Private room,1,3.0,3 shared baths,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Coo...",$70.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,362,3,92,0,4.33,4.33,4.00,True,73
83,4712676,24353373,NaN,NaN,100%,False,1,True,True,Ang Mo Kio,North-East Region,1.367470,103.838650,Private room in condo,Private room,1,1.0,1 private bath,1.0,1.0,"[""86 inch HDTV with Netflix"", ""Host greets you...",$73.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,300,4,30,184,5.00,5.00,4.75,False,1
85,4741630,8948251,within a day,60%,100%,False,126,True,True,Kallang,Central Region,1.307930,103.862760,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$66.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,362,1,92,0,5.00,5.00,5.00,True,73
87,4863317,8948251,within a day,60%,100%,False,126,True,True,Outram,Central Region,1.285110,103.842490,Private room in rental unit,Private room,1,2.0,2 shared baths,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Coo...",$56.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,1,92,0,5.00,5.00,5.00,True,73
88,4869221,8948251,within a day,60%,100%,False,126,True,True,Outram,Central Region,1.285630,103.842120,Private room in rental unit,Private room,1,1.0,1 private bath,1.0,1.0,"[""Oven"", ""Dishes and silverware"", ""Refrigerato...",$91.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,2,92,0,5.00,5.00,5.00,True,73
90,4926170,25375339,within a day,100%,90%,False,15,True,True,Bishan,Central Region,1.352987,103.831577,Private room in home,Private room,3,2.5,2.5 shared baths,1.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Bac...",$45.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,3,95,0,3.67,4.67,5.00,False,12
92,4989903,25185912,within an hour,100%,88%,True,19,True,True,Bukit Timah,Central Region,1.312620,103.797170,Private room in condo,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Dryer"", ""Essentials"", ""Dedicated workspace"",...",$75.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,365,6,95,184,4.50,4.50,4.83,False,18
93,5040689,11463785,within an hour,92%,60%,True,9,True,True,Ang Mo Kio,North-East Region,1.371650,103.828810,Private room in townhouse,Private room,1,1.0,1 shared bath,1.0,1.0,"[""Dryer"", ""Host greets you"", ""Essentials"", ""Fr...",$46.00,92,1000,92.0,92.0,1000.0,1000.0,92.0,1000.0,364,5,94,0,4.80,5.00,4.80,False,9
94,5052014,13468566,within a day,69%,68%,False,12,True,True,Outram,Central Region,1.274280,103.841330,Entire serviced apartment,Entire home/apt,2,1.0,1 bath,0.0,1.0,"[""Dishes and silverware"", ""Refrigerator"", ""Fir...",$178.00,6,1125,6.0,6.0,1125.0,1125.0,6.0,1125.0,359,14,89,0,4.64,4.71,4.79,False,12
95,5116961,4430782,within an hour,100%,NaN,False,1,True,True,Bukit Merah,Central Region,1.283660,103.831880,Private room in rental unit,Private room,2,1.0,1 bath,1.0,1.0,"[""Smoke alarm"", ""Essentials"", ""Air conditionin...",$141.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,263,1,88,0,5.00,5.00,5.00,False,1

In [ ]:
data['bathrooms_text'].value_counts()

bathrooms_text
1 bath               949
1 private bath       548
2 baths              364
1 shared bath        213
3 shared baths       136
2 shared baths        97
3 baths               69
1.5 baths             57
1.5 shared baths      28
Shared half-bath      24
4 shared baths        17
0 shared baths        17
0 baths               15
2.5 baths             14
4 baths               12
Half-bath              7
Private half-bath      6
5 shared baths         5
10 baths               4
4.5 baths              3
3.5 baths              3
6 shared baths         3
8.5 shared baths       3
2.5 shared baths       2
8.5 baths              1
4.5 shared baths       1
3.5 shared baths       1
10 shared baths        1
5.5 baths              1
6 baths                1
8 shared baths         1
9 shared baths         1
13 shared baths        1
5 baths                1
Name: count, dtype: int64

In [ ]:
import ast

data['amenities_number'] = data['amenities'].apply(lambda x: len(ast.literal_eval(x)))
print("Added 'amenities_number' column to the DataFrame.")

del data['amenities']

Added 'amenities_number' column to the DataFrame.

To revert to the default display options, you can use:
```python
pd.reset_option('display.max_columns')
```
Or set it to a specific number:
```python
pd.set_option('display.max_columns', 20) # for example, to show 20 columns
```

In [ ]:
import re

def parse_bathroom_info(bathrooms_text):
    if not isinstance(bathrooms_text, str):
        return np.nan, np.nan

    text = bathrooms_text.lower()
    is_shared = 'shared' in text
    num_bathrooms = np.nan

    # Handle 'half-bath' cases
    if 'half-bath' in text or 'half bath' in text:
        if 'private half-bath' in text or 'shared half-bath' in text:
            num_bathrooms = 0.5
        elif 'half-bath' in text:
            num_bathrooms = 0.5
        else:
            # Try to extract number before 'half-bath' if any, e.g., '1.5 shared baths'
            match = re.search(r'(\d+\.?\d*)\s*(half)?\s*baths?', text)
            if match:
                num_bathrooms = float(match.group(1)) if match.group(1) else np.nan
                if 'half' in text and num_bathrooms is not np.nan:
                    num_bathrooms *= 0.5 # This case handles like 1.5 baths, not '1 half-bath'

    # Extract numerical value directly
    if num_bathrooms is np.nan:
        match = re.search(r'(\d+\.?\d*)', text)
        if match:
            num_bathrooms = float(match.group(1))
        elif 'bath' in text and not match and '0' in text: # handles '0 baths'
            num_bathrooms = 0.0

    # Special handling for 'private half-bath' or 'shared half-bath'
    if 'private half-bath' in text and not is_shared:
        num_bathrooms = 0.5
    elif 'shared half-bath' in text and is_shared:
        num_bathrooms = 0.5

    return num_bathrooms, is_shared

In [ ]:
bathroom_info = data['bathrooms_text'].apply(parse_bathroom_info)
data['number_of_bathrooms_temp'] = [x[0] for x in bathroom_info]
data['is_shared_temp'] = [x[1] for x in bathroom_info]

# Populate the new columns based on 'is_shared_temp'
data.loc[data['is_shared_temp'] == False, 'number_of_private_bathrooms'] = data['number_of_bathrooms_temp']
data.loc[data['is_shared_temp'] == True, 'number_of_shared_bathrooms'] = data['number_of_bathrooms_temp']

# Drop the temporary columns
data.drop(columns=['number_of_bathrooms_temp', 'is_shared_temp'], inplace=True)

In [ ]:
print('DataFrame head with new bathroom columns:')
display(data[['bathrooms_text', 'number_of_private_bathrooms', 'number_of_shared_bathrooms']].head())

print('\nDescriptive statistics for number_of_private_bathrooms:')
display(data['number_of_private_bathrooms'].describe())

print('\nValue counts for number_of_private_bathrooms:')
display(data['number_of_private_bathrooms'].value_counts(dropna=False))

print('\nDescriptive statistics for number_of_shared_bathrooms:')
display(data['number_of_shared_bathrooms'].describe())

print('\nValue counts for number_of_shared_bathrooms:')
display(data['number_of_shared_bathrooms'].value_counts(dropna=False))

DataFrame head with new bathroom columns:

     bathrooms_text  number_of_private_bathrooms  number_of_shared_bathrooms
1  Shared half-bath                          NaN                         0.5
2  Shared half-bath                          NaN                         0.5
5     1 shared bath                          NaN                         1.0
8  1.5 shared baths                          NaN                         1.5
9            1 bath                          1.0                         NaN

Descriptive statistics for number_of_private_bathrooms:

count    2055.000000
mean        1.311922
std         0.734813
min         0.000000
25%         1.000000
50%         1.000000
75%         1.500000
max        10.000000
Name: number_of_private_bathrooms, dtype: float64

Value counts for number_of_private_bathrooms:

number_of_private_bathrooms
1.0     1497
NaN      551
2.0      364
3.0       69
1.5       57
0.0       15
2.5       14
0.5       13
4.0       12
10.0       4
4.5        3
3.5        3
8.5        1
6.0        1
5.5        1
5.0        1
Name: count, dtype: int64

Descriptive statistics for number_of_shared_bathrooms:

count    551.000000
mean       1.921053
std        1.375973
min        0.000000
25%        1.000000
50%        1.500000
75%        3.000000
max       13.000000
Name: number_of_shared_bathrooms, dtype: float64

Value counts for number_of_shared_bathrooms:

number_of_shared_bathrooms
NaN     2055
1.0      213
3.0      136
2.0       97
1.5       28
0.5       24
4.0       17
0.0       17
5.0        5
6.0        3
8.5        3
2.5        2
10.0       1
4.5        1
3.5        1
8.0        1
9.0        1
13.0       1
Name: count, dtype: int64

In [ ]:
# Sum the values from 'number_of_private_bathrooms' and 'number_of_shared_bathrooms'
# Use .add() with fill_value=0 to treat NaN values as 0 during summation
data['bathrooms'] = data['number_of_private_bathrooms'].add(data['number_of_shared_bathrooms'], fill_value=0)

In [ ]:
copia = data.copy()

In [ ]:
data["number_of_private_bathrooms"].fillna(0,inplace = True)
data["number_of_shared_bathrooms"].fillna(0,inplace = True)
del data['bathrooms_text']

/tmp/ipython-input-2568832413.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["number_of_private_bathrooms"].fillna(0,inplace = True)
/tmp/ipython-input-2568832413.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["number_of_shared_bathrooms"].fillna(0,inplace = True)

In [ ]:
data['bedrooms'] = data['bedrooms'].replace(0, np.nan)
data['bedrooms'] = data['bedrooms'].fillna(data['bathrooms'])
data['bedrooms'] = np.ceil(data['bedrooms'])

In [ ]:
average_bedrooms_by_room_type = data.groupby('room_type')['bedrooms'].mean().apply(np.ceil)
print("Average bedrooms per room_type (rounded up):")
display(average_bedrooms_by_room_type)
# Identify rows where 'bedrooms' is 0.0
zero_bedrooms_mask = data['bedrooms'] == 0.0

# Loop through each room_type and replace 0.0 bedrooms with the calculated average
for room_type, avg_bedrooms in average_bedrooms_by_room_type.items():
    data.loc[zero_bedrooms_mask & (data['room_type'] == room_type), 'bedrooms'] = avg_bedrooms

Average bedrooms per room_type (rounded up):

room_type
Entire home/apt    2.0
Hotel room         2.0
Private room       2.0
Shared room        2.0
Name: bedrooms, dtype: float64

In [ ]:
average_beds_by_bedrooms = data.groupby('bedrooms')['beds'].mean().apply(np.ceil)
print("Average beds per bedrooms (rounded up):")
display(average_beds_by_bedrooms)
# Identify rows where 'beds' is either NaN or 0.0
beds_to_impute_mask = data['beds'].isnull() | (data['beds'] == 0.0)

# Loop through each 'bedrooms' category and its calculated average 'beds'
for bedrooms_count, avg_beds in average_beds_by_bedrooms.items():
    # Apply imputation only for rows where 'beds' needs to be imputed and 'bedrooms' matches
    data.loc[beds_to_impute_mask & (data['bedrooms'] == bedrooms_count), 'beds'] = avg_beds

Average beds per bedrooms (rounded up):

bedrooms
1.0      2.0
2.0      3.0
3.0      4.0
4.0      4.0
5.0      6.0
6.0      4.0
7.0     10.0
8.0     11.0
13.0    22.0
Name: beds, dtype: float64

In [ ]:
data.isnull().sum()

id                                   0
host_id                              0
host_response_time                 362
host_response_rate                 362
host_acceptance_rate               443
host_is_superhost                    0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
neighbourhood_group_cleansed         0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
estimated_occupancy_l365d            0
review_scores_rating              1275
review_scores_communication       1275
review_scores_location            1276
instant_bookable                     0
calculated_host_listings_count       0
amenities_number                     0
number_of_private_bathrooms          0
number_of_shared_bathrooms           0
dtype: int64

In [ ]:
data.head()

,id,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,number_of_reviews,availability_eoy,estimated_occupancy_l365d,review_scores_rating,review_scores_communication,review_scores_location,instant_bookable,calculated_host_listings_count,amenities_number,number_of_private_bathrooms,number_of_shared_bathrooms
1,71896,367042,within a few hours,100%,100%,False,10,True,True,Tampines,East Region,1.34754,103.95958,Private room in home,Private room,1,0.5,1.0,1.0,$104.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,24,90,0,4.16,4.43,4.17,False,5,37,0.0,0.5
2,71903,367042,within a few hours,100%,100%,False,10,True,True,Tampines,East Region,1.34531,103.96100,Private room in home,Private room,2,0.5,1.0,2.0,$76.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,46,90,0,4.41,4.64,4.50,False,5,25,0.0,0.5
5,294281,1521514,within a few hours,100%,100%,False,8,True,True,Newton,Central Region,1.31142,103.83924,Private room in rental unit,Private room,2,1.0,2.0,1.0,$85.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,131,95,0,4.43,4.66,4.52,False,7,23,0.0,1.0
8,344803,367042,within a few hours,100%,100%,False,10,True,True,Tampines,East Region,1.34917,103.96090,Private room in home,Private room,1,1.5,1.0,1.0,$41.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,286,60,16,0,4.60,4.58,4.66,True,5,45,0.0,1.5
9,369141,1521514,within a few hours,100%,100%,False,8,True,True,Newton,Central Region,1.31144,103.83784,Private room,Private room,2,1.0,1.0,1.0,$101.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,81,95,0,4.43,4.76,4.64,False,7,23,1.0,0.0

In [ ]:
# Calculate the mean 'review_scores_location' for each 'neighbourhood_cleansed'
location_score_avg = data.groupby('neighbourhood_cleansed')['review_scores_location'].transform('mean')

# Fill missing values in 'review_scores_location' with the calculated averages
data['review_scores_location'].fillna(location_score_avg, inplace=True)

overall_mean_location_score = data['review_scores_location'].mean()
data['review_scores_location'].fillna(overall_mean_location_score, inplace=True)

print("Number of missing values in 'review_scores_location' after filling with overall mean:")
display(data['review_scores_location'].isnull().sum())

Number of missing values in 'review_scores_location' after filling with overall mean:

/tmp/ipython-input-4170722155.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['review_scores_location'].fillna(location_score_avg, inplace=True)
/tmp/ipython-input-4170722155.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['review_scores_location'].fillna(overall_mean_location_score, inplace=True)

np.int64(0)

In [ ]:
data.isnull().sum()

id                                   0
host_id                              0
host_response_time                 362
host_response_rate                 362
host_acceptance_rate               443
host_is_superhost                    0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
neighbourhood_group_cleansed         0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
estimated_occupancy_l365d            0
review_scores_rating              1275
review_scores_communication       1275
review_scores_location               0
instant_bookable                     0
calculated_host_listings_count       0
amenities_number                     0
number_of_private_bathrooms          0
number_of_shared_bathrooms           0
dtype: int64

In [ ]:
data['host_response_time'].value_counts()

host_response_time
within an hour        1165
within a day           506
a few days or more     333
within a few hours     240
Name: count, dtype: int64

In [ ]:
response_time_mapping = {
    'within an hour': 1,
    'within a day': 24,
    'a few days or more': 48,
    'within a few hours': 12
}

data['estimated_response_time_hours'] = data['host_response_time'].map(response_time_mapping)

# Calculate the mean 'estimated_response_time_hours' for each 'host_id'
host_response_time_hours_avg = data.groupby('host_id')['estimated_response_time_hours'].transform('mean')

# Fill missing values in 'estimated_response_time_hours' with the calculated averages
data['estimated_response_time_hours'].fillna(host_response_time_hours_avg, inplace=True)

# Fill any remaining missing 'estimated_response_time_hours' values with the overall mean
overall_mean_estimated_response_time = data['estimated_response_time_hours'].mean()
data['estimated_response_time_hours'].fillna(overall_mean_estimated_response_time, inplace=True)

/tmp/ipython-input-696948028.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['estimated_response_time_hours'].fillna(host_response_time_hours_avg, inplace=True)
/tmp/ipython-input-696948028.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['estimated_response_time_hours'].fillna(overall_mean_estimated_response_time, inplace=True)

In [ ]:
data.isnull().sum()

id                                   0
host_id                              0
host_response_time                 362
host_response_rate                 362
host_acceptance_rate               443
host_is_superhost                    0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
neighbourhood_group_cleansed         0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
estimated_occupancy_l365d            0
review_scores_rating              1275
review_scores_communication       1275
review_scores_location               0
instant_bookable                     0
calculated_host_listings_count       0
amenities_number                     0
number_of_private_bathrooms          0
number_of_shared_bathrooms           0
estimated_response_time_hours        0
dtype: int64

In [ ]:
data['host_response_rate'] = data['host_response_rate'].astype(str).str.replace('%', '', regex=False)
data['host_response_rate'] = pd.to_numeric(data['host_response_rate'], errors='coerce') / 100

# Calculate the mean 'host_response_rate' for each 'host_id'
host_response_rate_avg = data.groupby('host_id')['host_response_rate'].transform('mean')

# Fill missing values in 'host_response_rate' with the calculated averages
data['host_response_rate'] = data['host_response_rate'].fillna(host_response_rate_avg)

# Fill any remaining missing 'host_response_rate' values with the overall mean
overall_mean_host_response_rate = data['host_response_rate'].mean()
data['host_response_rate'] = data['host_response_rate'].fillna(overall_mean_host_response_rate)

In [ ]:
data.isnull().sum()

id                                   0
host_id                              0
host_response_time                 362
host_response_rate                   0
host_acceptance_rate               443
host_is_superhost                    0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
neighbourhood_group_cleansed         0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
estimated_occupancy_l365d            0
review_scores_rating              1275
review_scores_communication       1275
review_scores_location               0
instant_bookable                     0
calculated_host_listings_count       0
amenities_number                     0
number_of_private_bathrooms          0
number_of_shared_bathrooms           0
estimated_response_time_hours        0
dtype: int64

In [ ]:
data['host_response_rate'].value_counts()

host_response_rate
1.000000    999
0.797932    362
0.740000    215
0.000000    130
0.330000    118
0.500000    109
0.980000    102
0.890000     84
0.970000     78
0.600000     71
0.990000     66
0.250000     44
0.800000     29
0.940000     25
0.880000     22
0.930000     18
0.430000     17
0.690000     13
0.900000     13
0.670000     10
0.100000     10
0.830000     10
0.750000     10
0.920000      9
0.910000      7
0.960000      6
0.240000      5
0.300000      4
0.780000      3
0.700000      3
0.210000      2
0.850000      2
0.560000      2
0.950000      2
0.860000      1
0.290000      1
0.570000      1
0.400000      1
0.710000      1
0.200000      1
Name: count, dtype: int64

In [ ]:
communication_score_mapping = {
    'within an hour': 4,
    'within a few hours': 3.5,
    'within a day': 3,
    'a few days or more': 2.5
}

# Convert 'host_response_time' to numerical score
data['host_response_time_score'] = data['host_response_time'].map(communication_score_mapping)

# Calculate the combined score
data['combined_communication_score'] = data['host_response_time_score'] + data['host_response_rate']

# Fill missing values in 'review_scores_communication' with the combined score
data['review_scores_communication'].fillna(data['combined_communication_score'], inplace=True)

del data['host_response_time_score']
del data['combined_communication_score']

print("Columnas temporales eliminadas.")
del data['host_response_time']

Columnas temporales eliminadas.

/tmp/ipython-input-3468923315.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['review_scores_communication'].fillna(data['combined_communication_score'], inplace=True)

In [ ]:
# Ensure 'host_acceptance_rate' is numeric before calculating means
data['host_acceptance_rate'] = data['host_acceptance_rate'].str.replace('%', '', regex=False).astype(float) / 100

# Calculate the mean 'host_acceptance_rate' for each 'host_id'
host_acceptance_rate_avg = data.groupby('host_id')['host_acceptance_rate'].transform('mean')

# Fill missing values in 'host_acceptance_rate' with the calculated averages
data['host_acceptance_rate'].fillna(host_acceptance_rate_avg, inplace=True)

# Fill any remaining missing 'host_acceptance_rate' values with the overall mean
overall_mean_acceptance_rate = data['host_acceptance_rate'].mean()
data['host_acceptance_rate'].fillna(overall_mean_acceptance_rate, inplace=True)

/tmp/ipython-input-2516380738.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['host_acceptance_rate'].fillna(host_acceptance_rate_avg, inplace=True)
/tmp/ipython-input-2516380738.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['host_acceptance_rate'].fillna(overall_mean_acceptance_rate, inplace=True)

In [ ]:
data.isnull().sum()

id                                   0
host_id                              0
host_response_rate                   0
host_acceptance_rate                 0
host_is_superhost                    0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
neighbourhood_group_cleansed         0
latitude                             0
longitude                            0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
price                                0
minimum_nights                       0
maximum_nights                       0
minimum_minimum_nights               0
maximum_minimum_nights               0
minimum_maximum_nights               0
maximum_maximum_nights               0
minimum_nights_avg_ntm               0
maximum_nights_avg_ntm               0
availability_365                     0
number_of_reviews                    0
availability_eoy                     0
estimated_occupancy_l365d            0
review_scores_rating              1275
review_scores_communication        218
review_scores_location               0
instant_bookable                     0
calculated_host_listings_count       0
amenities_number                     0
number_of_private_bathrooms          0
number_of_shared_bathrooms           0
estimated_response_time_hours        0
dtype: int64

In [ ]:
# Calculate the average of 'review_scores_communication' and 'review_scores_location' for each row
avg_communication_location = (data['review_scores_communication'] + data['review_scores_location']) / 2

# Identify rows where 'review_scores_rating' is missing
missing_rating_mask = data['review_scores_rating'].isnull()

# Fill missing values in 'review_scores_rating' with the calculated average
data.loc[missing_rating_mask, 'review_scores_rating'] = avg_communication_location.loc[missing_rating_mask]

In [ ]:
data.isnull().sum()

id                                  0
host_id                             0
host_response_rate                  0
host_acceptance_rate                0
host_is_superhost                   0
host_total_listings_count           0
host_has_profile_pic                0
host_identity_verified              0
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms                           0
bedrooms                            0
beds                                0
price                               0
minimum_nights                      0
maximum_nights                      0
minimum_minimum_nights              0
maximum_minimum_nights              0
minimum_maximum_nights              0
maximum_maximum_nights              0
minimum_nights_avg_ntm              0
maximum_nights_avg_ntm              0
availability_365                    0
number_of_reviews                   0
availability_eoy                    0
estimated_occupancy_l365d           0
review_scores_rating              218
review_scores_communication       218
review_scores_location              0
instant_bookable                    0
calculated_host_listings_count      0
amenities_number                    0
number_of_private_bathrooms         0
number_of_shared_bathrooms          0
estimated_response_time_hours       0
dtype: int64

In [ ]:
data.isnull().sum()

id                                  0
host_id                             0
host_response_rate                  0
host_acceptance_rate                0
host_is_superhost                   0
host_total_listings_count           0
host_has_profile_pic                0
host_identity_verified              0
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms                           0
bedrooms                            0
beds                                0
price                               0
minimum_nights                      0
maximum_nights                      0
minimum_minimum_nights              0
maximum_minimum_nights              0
minimum_maximum_nights              0
maximum_maximum_nights              0
minimum_nights_avg_ntm              0
maximum_nights_avg_ntm              0
availability_365                    0
number_of_reviews                   0
availability_eoy                    0
estimated_occupancy_l365d           0
review_scores_rating              218
review_scores_communication       218
review_scores_location              0
instant_bookable                    0
calculated_host_listings_count      0
amenities_number                    0
number_of_private_bathrooms         0
number_of_shared_bathrooms          0
estimated_response_time_hours       0
dtype: int64

In [ ]:
data.head(25)

,id,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,number_of_reviews,availability_eoy,estimated_occupancy_l365d,review_scores_rating,review_scores_communication,review_scores_location,instant_bookable,calculated_host_listings_count,amenities_number,number_of_private_bathrooms,number_of_shared_bathrooms,estimated_response_time_hours
1,71896,367042,1.000000,1.000000,False,10,True,True,Tampines,East Region,1.34754,103.95958,Private room in home,Private room,1,0.5,1.0,1.0,$104.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,24,90,0,4.160000,4.43,4.170000,False,5,37,0.0,0.5,12.000000
2,71903,367042,1.000000,1.000000,False,10,True,True,Tampines,East Region,1.34531,103.96100,Private room in home,Private room,2,0.5,1.0,2.0,$76.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,46,90,0,4.410000,4.64,4.500000,False,5,25,0.0,0.5,12.000000
5,294281,1521514,1.000000,1.000000,False,8,True,True,Newton,Central Region,1.31142,103.83924,Private room in rental unit,Private room,2,1.0,2.0,1.0,$85.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,131,95,0,4.430000,4.66,4.520000,False,7,23,0.0,1.0,12.000000
8,344803,367042,1.000000,1.000000,False,10,True,True,Tampines,East Region,1.34917,103.96090,Private room in home,Private room,1,1.5,1.0,1.0,$41.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,286,60,16,0,4.600000,4.58,4.660000,True,5,45,0.0,1.5,12.000000
9,369141,1521514,1.000000,1.000000,False,8,True,True,Newton,Central Region,1.31144,103.83784,Private room,Private room,2,1.0,1.0,1.0,$101.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,81,95,0,4.430000,4.76,4.640000,False,7,23,1.0,0.0,12.000000
10,369145,1521514,1.000000,1.000000,False,8,True,True,Newton,Central Region,1.31129,103.83788,Private room in townhouse,Private room,2,1.0,2.0,1.0,$91.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,163,95,0,4.390000,4.67,4.600000,False,7,19,0.0,1.0,12.000000
12,468782,2327208,0.797932,1.000000,False,4,True,True,Serangoon,North-East Region,1.36288,103.86575,Private room in home,Private room,2,1.5,1.0,2.0,$53.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,83,95,184,4.700000,4.88,4.570000,False,1,8,1.5,0.0,14.337344
18,747813,3926646,0.000000,0.704901,False,7,True,True,Downtown Core,Central Region,1.27663,103.84498,Private room in condo,Private room,4,1.0,1.0,1.0,$127.00,92,1123,92.0,92.0,1123.0,1123.0,92.0,1123.0,358,68,88,0,4.630000,4.82,4.910000,True,4,27,0.0,1.0,48.000000
19,747816,3926646,0.000000,0.704901,False,7,True,True,Downtown Core,Central Region,1.27585,103.84597,Private room in condo,Private room,4,1.0,1.0,1.0,$127.00,92,1124,92.0,92.0,1124.0,1124.0,92.0,1124.0,365,25,95,0,4.560000,4.88,4.960000,True,4,29,0.0,1.0,48.000000
21,765579,2413412,0.890000,0.670000,False,182,True,True,Outram,Central Region,1.28410,103.84253,Private room in rental unit,Private room,1,2.0,1.0,1.0,$47.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,2,92,0,4.000000,4.50,4.000000,True,91,26,0.0,2.0,12.000000
22,815685,1439258,1.000000,0.990000,False,88,True,True,Bukit Merah,Central Region,1.29065,103.80941,Private room in rental unit,Private room,1,2.0,1.0,1.0,$67.00,180,999,180.0,180.0,1125.0,1125.0,180.0,1125.0,0,16,0,0,4.130000,4.44,4.250000,True,49,28,0.0,2.0,1.000000
26,833289,4360831,0.797932,0.704901,False,3,True,True,Bukit Merah,Central Region,1.27716,103.82299,Private room in condo,Private room,2,1.0,1.0,2.0,$172.00,730,1125,730.0,730.0,1125.0,1125.0,730.0,1125.0,365,2,95,0,5.000000,5.00,5.000000,False,1,1,1.0,0.0,14.337344
28,881253,2413412,0.890000,0.670000,False,182,True,True,Outram,Central Region,1.28485,103.84317,Private room in rental unit,Private room,1,1.0,1.0,1.0,$76.00,92,1124,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,3,92,0,4.000000,4.67,4.670000,True,91,30,1.0,0.0,12.000000
29,904378,4837194,1.000000,0.000000,False,2,True,True,River Valley,Central Region,1.30046,103.82786,Entire condo,Entire home/apt,2,1.0,1.0,1.0,$222.00,92,120,92.0,92.0,120.0,120.0,92.0,120.0,347,34,77,0,4.710000,4.94,4.760000,False,1,67,1.0,0.0,24.000000
30,962594,2413412,0.890000,0.670000,False,182,True,True,Kallang,Central Region,1.30663,103.86243,Private room in rental unit,Private room,1,1.0,1.0,1.0,$82.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,362,2,92,0,5.000000,5.00,5.000000,True,91,30,1.0,0.0,12.000000
31,982909,4723385,0.797932,0.000000,False,1,True,True,Novena,Central Region,1.33389,103.83454,Private room in condo,Private room,1,1.0,1.0,1.0,$85.00,92,180,92.0,92.0,180.0,180.0,92.0,180.0,268,247,93,0,4.870000,4.92,4.780000,False,1,55,1.0,0.0,14.337344
34,1242205,3589987,0.797932,0.704901,False,5,True,True,Marine Parade,Central Region,1.30907,103.90180,Entire townhouse,Entire home/apt,6,4.5,3.0,3.0,$549.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,270,8,95,0,4.750000,4.88,4.630000,False,1,27,4.5,0.0,14.337344
35,1261443,2413412,0.890000,0.670000,False,182,True,True,Outram,Central Region,1.28458,103.84311,Private room in rental unit,Private room,1,1.0,1.0,1.0,$76.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,2,92,0,5.000000,5.00,5.000000,True,91,30,1.0,0.0,12.000000
36,1363204,2413412,0.890000,0.670000,False,182,True,True,Outram,Central Region,1.28386,103.84238,Private room in rental unit,Private room,1,1.0,1.0,1.0,$66.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,3,92,0,4.000000,4.67,5.000000,True,91,28,1.0,0.0,12.000000
37,1495386,7993224,0.000000,0.704901,False,2,True,True,Pasir Ris,East Region,1.37975,103.94375,Private room in earthen home,Private room,2,1.0,1.0,1.0,$58.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,10,95,0,4.700000,5.00,4.300000,False,1,34,1.0,0.0,48.000000
38,1508829,2413412,0.890000,0.670000,False,182,True,True,Kallang,Central Region,1.30720,103.86359,Private room in rental unit,Private room,1,3.0,1.0,1.0,$57.00,92,365,92.0,92.0,365.0,365.0,92.0,365.0,362,7,92,0,4.140000,4.57,4.830000,True,91,26,0.0,3.0,12.000000
40,1581224,8408341,0.797932,0.704901,False,2,True,True,Kallang,Central Region,1.31108,103.87374,Entire townhouse,Entire home/apt,8,4.0,4.0,1.0,$135.00,96,100,96.0,96.0,1125.0,1125.0,96.0,1125.0,365,0,95,0,NaN,NaN,4.752945,False,1,16,4.0,0.0,14.337344
42,1615074,2413412,0.890000,0.670000,False,182,True,True,Outram,Central Region,1.28410,103.84253,Private room in rental unit,Private room,1,1.5,1.0,1.0,$61.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,5,92,0,4.400000,5.00,4.800000,True,91,30,1.5,0.0,12.000000
46,1710048,8948251,0.600000,1.000000,False,126,True,True,Outram,Central Region,1.28466,103.84255,Private room in rental unit,Private room,1,1.0,1.0,1.0,$66.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,0,92,0,4.211899,3.60,4.823797,True,73,27,1.0,0.0,24.000000
47,1719704,2413412,0.890000,0.670000,False,182,True,True,Outram,Central Region,1.28410,103.84253,Private room in rental unit,Private room,1,1.0,1.0,1.0,$66.00,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,362,3,92,0,4.000000,4.67,4.670000,True,91,27,1.0,0.0,12.000000

In [ ]:
data['price'] = data['price'].astype(str).str.replace('$', '', regex=False)
data['price'] = data['price'].astype(str).str.replace(',', '', regex=False)
data['price'] = pd.to_numeric(data['price'], errors='coerce')

In [ ]:
from matplotlib.cbook import boxplot_stats

out = boxplot_stats(data['price']).pop(0)['fliers']
data = data.drop(data.index[data['price'].isin(out)])

In [ ]:
data['room_type'].value_counts()

room_type
Private room       1203
Entire home/apt    1173
Hotel room           42
Shared room          41
Name: count, dtype: int64

In [ ]:
categoricas = data.select_dtypes(include = ['object']).axes[1]
for x in categoricas:
    data = pd.concat([data, pd.get_dummies(data[x], prefix = x, prefix_sep= ':')], axis = 1)
    data.drop(x, axis = 1, inplace = True)

In [ ]:
data.head()

,id,host_id,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_365,number_of_reviews,availability_eoy,estimated_occupancy_l365d,review_scores_rating,review_scores_communication,review_scores_location,instant_bookable,calculated_host_listings_count,amenities_number,number_of_private_bathrooms,number_of_shared_bathrooms,estimated_response_time_hours,neighbourhood_cleansed:Ang Mo Kio,neighbourhood_cleansed:Bedok,neighbourhood_cleansed:Bishan,neighbourhood_cleansed:Bukit Batok,neighbourhood_cleansed:Bukit Merah,neighbourhood_cleansed:Bukit Panjang,neighbourhood_cleansed:Bukit Timah,neighbourhood_cleansed:Central Water Catchment,neighbourhood_cleansed:Changi,neighbourhood_cleansed:Choa Chu Kang,neighbourhood_cleansed:Clementi,neighbourhood_cleansed:Downtown Core,neighbourhood_cleansed:Geylang,neighbourhood_cleansed:Hougang,neighbourhood_cleansed:Jurong East,neighbourhood_cleansed:Jurong West,neighbourhood_cleansed:Kallang,neighbourhood_cleansed:Marina South,neighbourhood_cleansed:Marine Parade,neighbourhood_cleansed:Museum,neighbourhood_cleansed:Newton,neighbourhood_cleansed:Novena,neighbourhood_cleansed:Orchard,neighbourhood_cleansed:Outram,neighbourhood_cleansed:Pasir Ris,neighbourhood_cleansed:Punggol,neighbourhood_cleansed:Queenstown,neighbourhood_cleansed:River Valley,neighbourhood_cleansed:Rochor,neighbourhood_cleansed:Sembawang,neighbourhood_cleansed:Sengkang,neighbourhood_cleansed:Serangoon,neighbourhood_cleansed:Singapore River,neighbourhood_cleansed:Southern Islands,neighbourhood_cleansed:Tampines,neighbourhood_cleansed:Tanglin,neighbourhood_cleansed:Toa Payoh,neighbourhood_cleansed:Western Water Catchment,neighbourhood_cleansed:Woodlands,neighbourhood_cleansed:Yishun,neighbourhood_group_cleansed:Central Region,neighbourhood_group_cleansed:East Region,neighbourhood_group_cleansed:North Region,neighbourhood_group_cleansed:North-East Region,neighbourhood_group_cleansed:West Region,property_type:Boat,property_type:Entire condo,property_type:Entire guest suite,property_type:Entire guesthouse,property_type:Entire home,property_type:Entire loft,property_type:Entire rental unit,property_type:Entire serviced apartment,property_type:Entire townhouse,property_type:Private room,property_type:Private room in barn,property_type:Private room in bed and breakfast,property_type:Private room in bungalow,property_type:Private room in casa particular,property_type:Private room in castle,property_type:Private room in condo,property_type:Private room in earthen home,property_type:Private room in guest suite,property_type:Private room in guesthouse,property_type:Private room in home,property_type:Private room in hostel,property_type:Private room in loft,property_type:Private room in rental unit,property_type:Private room in serviced apartment,property_type:Private room in townhouse,property_type:Private room in train,property_type:Private room in vacation home,property_type:Private room in villa,property_type:Room in aparthotel,property_type:Room in boutique hotel,property_type:Room in hostel,property_type:Room in hotel,property_type:Room in serviced apartment,property_type:Shared room in bed and breakfast,property_type:Shared room in boutique hotel,property_type:Shared room in dome,property_type:Shared room in guesthouse,property_type:Shared room in hostel,property_type:Shared room in hotel,property_type:Shared room in rental unit,property_type:Tiny home,room_type:Entire home/apt,room_type:Hotel room,room_type:Private room,room_type:Shared room
1,71896,367042,1.0,1.0,False,10,True,True,1.34754,103.95958,1,0.5,1.0,1.0,104.0,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,24,90,0,4.16,4.43,4.17,False,5,37,0.0,0.5,12.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,71903,367042,1.0,1.0,False,10,True,True,1.34531,103.96100,2,0.5,1.0,2.0,76.0,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,90,46,90,0,4.41,4.64,4.50,False,5,25,0.0,0.5,12.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5,294281,1521514,1.0,1.0,False,8,True,True,1.31142,103.83924,2,1.0,2.0,1.0,85.0,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,365,131,95,0,4.43,4.66,4.52,False,7,23,0.0,1.0,12.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
8,344803,367042,1.0,1.0,False,10,True,True,1.34917,103.96090,1,1.5,1.0,1.0,41.0,92,365,92.0,92.0,1125.0,1125.0,92.0,1125.0,286,60,16,0,4.60,4.58,4.66,True,5,45,0.0,1.5,12.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
9,369141,1521514,1.0,1.0,False,8,True,True,1.31144,103.83784,2,1.0,1.0,1.0,101.0,92,180,92.0,92.0,180.0,180.0,92.0,180.0,365,81,95,0,4.43,4.76,4.64,False,7,23,1.0,0.0,12.0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
data.to_csv('DatosSingapore.csv', index=False)
print("Data saved to DatosSingapore.csv")

Data saved to DatosSingapore.csv